{% extends 'base.html' %}
{% block js_file %}
    {% load static %}
    {{ form.media }}
    <script type="text/javascript">
    function collect_blog(){
            $.ajaxSetup({
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'},});
           $.ajax({
                type:'POST',
                dataType:'json',
                url:'{% url 'blog:collect' blog.blog_id  %}',
                success:function(data){
                    if(data.msg == 'ok'){
                            $("#blog_collect").html(data.ret)
                        }
                    else{
                        alert(data.msg);
                        }
                    }
                    });
            }
    </script>
    <script type="text/javascript">
            function del() {
                var msg = "您真的确定要删除吗？\n\n请确认！";
                if (confirm(msg)==true){
                return true;
                }else{
                return false;
                }}
    </script>
    <script type="text/javascript">
        function likes_blog(){
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},});
       $.ajax({
            type:'POST',
            dataType:'json',
            url:'{% url 'blog:like' blog.blog_id  %}',
            success:function(data){
                if(data.msg == 'ok'){
                        $("#blog_like").html(data.likes)
                    }
                else{
                    alert(data.msg);
                    }
                }
                });
        }
    </script>
    <script type="text/javascript">
    $(function() {

	    editormd.markdownToHTML("md2html", {
            path: "{% static  'mdeditor/js/lib/' %}",
            tocm: true,
            emoji:true,
            flowChart: true,
            sequenceDiagram: true,
            pageBreak: true,
            tex: true,
            taskList:true,
            //markdown : "1",// Also, you can dynamic set Markdown text
            htmlDecode : true,  // Enable / disable HTML tag encode.
            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });
    </script>
    <script type="text/javascript">
    function more_comments(page) {
        $.ajax({
            type:'GET',
            dataType:'json',
            url:'{% url 'blog:ajax' 'comments' %}?blog_id={{ blog.blog_id }}&page='+ page ,
            success:function(data){
                $("#more_comments").remove();

                $("#comments").append(data.rendered);
                }
                });

    }
    </script>
{% endblock %}
{% block mainbody %}

<main role="main" class="container">
<div class="blog-main">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    <a href="{% url 'blog:other_blog' blog.author_name.user_id %}">{{ blog.author_name }}的博客</a>
  </h3>

  <div class="blog-post" style="color: #000000">
    <h1 class="blog-post-title">{{ blog.title }}</h1>
    <h2 class="blog-post-meta">{{ blog.description }}</h2>
    <p class="blog-post-meta">{{ blog.create_time }} by <a href="{% url 'blog:other_home' blog.author_name.user_id %}">{{ blog.author_name }}</a></p>
    <p class="blog-post-meta">{{ blog.update_time }}更新<span class="badge badge-primary badge-pill">{{ blog.look_times }}浏览👀</span>
        <li><span class="badge badge-primary badge-pill" id="blog_like">{{ blog.love }}</span><a href="javascript:likes_blog()" >👍</a></li>
        {% if delete_able %}
        <li>
            <a href="{% url 'blog:blog_add' %}?blog_id={{ blog.blog_id }}">编辑</a>
            <a href="{% url 'blog:blog_delete' %}?blog={{ blog.id }}" onclick="javascript:return del();">删除</a>
        </li>
        {% elif collect_able %}
         <li><a id="blog_collect" href="javascript:collect_blog()">{{ ret }}</a></li>
        {% endif %}
    </p>
   <div id="md2html" style="background:#f7eed6;">
       <textarea style="display:none;">{{ blog.body }}</textarea>
   </div>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'blog:comment' %}?blog_id={{ blog.blog_id }}&next={{ path }}">
    {% csrf_token %}
    <br>
    <div class="form-row field-body">
        {{ form.as_p }}
    </div>
    <br>
        <div class="form-group">
            <input type="submit" value="提交" class="btn btn-primary">
        </div>
</form>
    {% else %}
    <strong><a href="{% url 'blog:login' %}?next={{ request.path }}">登录</a>后才可评论哟</strong>
    {% endif %}
  <hr>
  <div class="card">
  <div class="card-header">
    最新评论({{ comments_count }})
  </div>
  <div class="markdown-body editormd-preview-container" id="comments">
      <script type="text/javascript">
          $("#comments").load(more_comments(1))
      </script>
  </div>
</div>
  </div>
</div>
</main>
{% endblock %}