{% extends 'base.html' %}
{% load staticfiles %}
{% block mainbody %}
    <script type="text/javascript">
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight === scrollHeight) {
                const page = Number($("#more_blog").attr("current_page"));
                if (page !== 0){
                more_blogs(page);
                }
            }
        });
    </script>
    <script type="text/javascript">
    function more_blogs(page){
        $.ajax({
            type:'GET',
            dataType:'json',
            url:'{% url 'blog:ajax' 'blogs'  %}?page=' + page,
            success:function(data){
                    $("#more_blog").append(data.rendered);
                    $("#more_blog").attr("current_page", data.page);
                }
                });
    }
    </script>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for blog in blogs %}
            <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}" class="{{ blog.active }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for blog in blogs %}
      <div class="carousel-item {{ blog.active }}">
        <img class="d-block w-100 " src="{% static blog.img %}">
        <div class="carousel-caption d-none d-md-block">
            <a href="{% url 'blog:blog' blog.blog_id %}">
              <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ blog.title }}</font></font></h5>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ blog.description }}</font></font></p>
            </a>
        </div>
      </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">以前</font></font></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下一个</font></font></span>
    </a>
  </div>
<article>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">DREAMING</h6>
      <small>Since 2019</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm" id="more_blog" current_page="1">
    <h6 class="border-bottom border-gray pb-2 mb-0">最近更新</h6>
  </div>
    <script type="text/javascript">
          $("#more_blog").load(more_blogs(1))
      </script>

</main>
  </article>
{% endblock %}